Repository furiosa-ai/furiosa-models, pull requests merged in 2023-02, with the labels that each got.

#122 Build dockerfile at CI trigger
  .ci/furiosa-models-ci/build-and-push.yaml
  .ci/furiosa-models-ci/lint.yaml
  .ci/furiosa-models-ci/pipeline.yaml
  .ci/furiosa-models-ci/pr-trigger.yaml
  .ci/furiosa-models-ci/test.yaml
  .ci/furiosa-models-regression-test/github-add-comment.yaml
  .ci/furiosa-models-regression-test/label-trigger.yaml
  .ci/furiosa-models-regression-test/regression-test.yaml
  .ci/task.yaml
  Dockerfile
  Makefile
Labels: tekton/regression-model-all

#120 Update some .dvc files to point to proper artifacts
  furiosa/models/data/generated/0.8.0_d9f0d7728/mlcommons_ssd_mobilenet_v1_int8_warboy_2pe.dfg.dvc
  furiosa/models/data/generated/0.8.0_d9f0d7728/mlcommons_ssd_mobilenet_v1_int8_warboy_2pe.enf.dvc
  furiosa/models/data/generated/0.8.0_d9f0d7728/mlcommons_ssd_resnet34_int8_warboy_2pe.dfg.dvc
  furiosa/models/data/generated/0.8.0_d9f0d7728/mlcommons_ssd_resnet34_int8_warboy_2pe.enf.dvc
  furiosa/models/data/mlcommons_ssd_mobilenet_v1_int8.onnx.dvc
  furiosa/models/data/mlcommons_ssd_resnet34_int8.onnx.dvc
  furiosa/models/vision/ssd_mobilenet/__init__.py
  tests/bench/test_ssd_mobilenet.py
  tests/bench/test_ssd_resnet34.py
Labels: tekton/regression-model-all

#124 Set git safe directory to solve #123
  .ci/furiosa-models-regression-test/regression-test.yaml
Labels: tekton/regression-model-ssd-resnet34

#125 Change model zoo target to warboy-b0-2pe
  .ci/furiosa-models-ci/test.yaml
  .ci/furiosa-models-regression-test/label-trigger.yaml
  Makefile
  furiosa/models/data/enf_generator.sh
  furiosa/models/data/generated/0.9.0-dev_05955c9b4/mlcommons_resnet50_v1.5_int8_truncated_warboy_2pe.dfg.dvc
  furiosa/models/data/generated/0.9.0-dev_05955c9b4/mlcommons_resnet50_v1.5_int8_truncated_warboy_2pe.enf.dvc
  furiosa/models/data/generated/0.9.0-dev_05955c9b4/mlcommons_resnet50_v1.5_int8_warboy_2pe.dfg.dvc
  furiosa/models/data/generated/0.9.0-dev_05955c9b4/mlcommons_resnet50_v1.5_int8_warboy_2pe.enf.dvc
  furiosa/models/data/generated/0.9.0-dev_05955c9b4/mlcommons_ssd_mobilenet_v1_int8_truncated_warboy_2pe.dfg.dvc
  furiosa/models/data/generated/0.9.0-dev_05955c9b4/mlcommons_ssd_mobilenet_v1_int8_truncated_warboy_2pe.enf.dvc
  furiosa/models/data/generated/0.9.0-dev_05955c9b4/mlcommons_ssd_mobilenet_v1_int8_warboy_2pe.dfg.dvc
  furiosa/models/data/generated/0.9.0-dev_05955c9b4/mlcommons_ssd_mobilenet_v1_int8_warboy_2pe.enf.dvc
  furiosa/models/data/generated/0.9.0-dev_05955c9b4/mlcommons_ssd_resnet34_int8_truncated_warboy_2pe.dfg.dvc
  furiosa/models/data/generated/0.9.0-dev_05955c9b4/mlcommons_ssd_resnet34_int8_truncated_warboy_2pe.enf.dvc
  furiosa/models/data/generated/0.9.0-dev_05955c9b4/mlcommons_ssd_resnet34_int8_warboy_2pe.dfg.dvc
  furiosa/models/data/generated/0.9.0-dev_05955c9b4/mlcommons_ssd_resnet34_int8_warboy_2pe.enf.dvc
  furiosa/models/data/generated/0.9.0-dev_05955c9b4/yolov5l_int8_warboy_2pe.dfg.dvc
  furiosa/models/data/generated/0.9.0-dev_05955c9b4/yolov5l_int8_warboy_2pe.enf.dvc
  furiosa/models/data/generated/0.9.0-dev_05955c9b4/yolov5m_int8_warboy_2pe.dfg.dvc
  furiosa/models/data/generated/0.9.0-dev_05955c9b4/yolov5m_int8_warboy_2pe.enf.dvc
  tests/unit/test_unit.py
Labels: tekton/regression-model-all

#121 Add efficientnetb0 model
  Makefile
  docs/examples/efficientnet_b0.py
  furiosa/models/data/.gitignore
  furiosa/models/data/efficientnet_b0.calib_data.yaml.dvc
  furiosa/models/data/efficientnet_b0.onnx.dvc
  furiosa/models/data/generated/0.9.0-dev_05955c9b4/efficientnet_b0_warboy_2pe.dfg.dvc
  furiosa/models/data/generated/0.9.0-dev_05955c9b4/efficientnet_b0_warboy_2pe.enf.dvc
  furiosa/models/vision/__init__.py
  furiosa/models/vision/efficientnet_b0/__init__.py
  furiosa/models/vision/resnet50/__init__.py
  tests/bench/test_efficientnet_b0.py
  tests/unit/test_artifacts.py
Labels: tekton/regression-model-efficientnet-b0
